$table_border: 1px solid #dedede;
$header_colour: #f5f5f5;
$sorted_colour: #fce6b2;
$table_font_size: 11px;
$table_font_weight: normal;
// $table_font_family: Helvetica, Arial, sans-serif;
$table_cell_height: 20px;

@mixin table_cell_format {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.title_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 38px;
  padding: 12px;
}

.table_wrap {
  overflow: auto;
  // width: 100%;
  margin: 0 10px;
  border-right: 1px solid #dddddd;
}

.table_wrap .drop {
  max-width: 400px;
}

.table_wrap table {
  border-spacing: 0;
  border-collapse: collapse;
  font-size: $table_font_size;
  font-weight: $table_font_weight;
  // font-family: $table_font_family;
}

.table_wrap tbody {
  /* border-bottom: 1px solid lightgray; */
  border: 1px solid black;
}

.table_wrap th {
  /* border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray; */
  // border: 1px solid black;
  /* position: relative; */
}

.table_wrap th {
  position: relative;
}

.table_wrap tbody {
  border: 1px solid black;
}

.table_wrap {
  .inner {
  }
}

.empty_row {
  height: 20px;
}

.table_wrap tr {
  height: $table_cell_height;
  border: $table_border;
}

.table_wrap td {
  padding-left: 2px;

  &.sorted_cell {
    background-color: $sorted_colour;
  }
}

.table_header_row {
  position: sticky;
  top: 0;
}

//////////////////////  TRACKS ////////////////////////

.break_slot {
  background-color: coral;
}
